tmp
.DS_Store
*.swp
*~
.history
.indexes
.lock
.log
.refactorings
.metadata
__MACOSX

.idea/workspace.xml
.idea/deployment.xml


**/build/*
**/target/*
target/*
**/.buildpath
**/.settings/*
**/.classpath
*.log
webtest/logs/*
webtest/.classpath
.idea/*
.settings/org.eclipse.core.resources.prefs
roundcube/node/*
roundcube/node_modules/*
roundcube/bower_components/*
revealjs/node/*
revealjs/node_modules/*
revealjs/bower_components/*
storagecharts2/node/*
storagecharts2/node_modules/*
storagecharts2/bower_components/*
src/main/docker/app/oc_apps/*

roundcube/.project
revealjs/.project
roundcube/.project
storagecharts2/.project
webtest/.project
