tmp
.DS_Store
*.swp
*~
.history
.indexes
.lock
.log
.refactorings
.metadata
__MACOSX

.idea/workspace.xml
.idea/deployment.xml


**/build/*
**/target/*
target/*
**/.buildpath
**/.settings/*
**/.classpath
webtest/logs/*
webtest/.classpath
.idea/OwnCloudApps.iml
.idea/dataSources.ids
.idea/dataSources.xml
.settings/org.eclipse.core.resources.prefs
