#roundcube_container {
	position: fixed;
}
#roundcubeFrame {
	height: 100%;
}
#roundcubeLoaderContainer {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #FFF;
}
#roundcubeLoader {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 128px;
	height: 14px;
	margin-top: -7px; /* Half the height */
	margin-left: -64px; /* Half the width */
}

.mail-controls {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: fixed;
	right: 0;
	left: 0;
	height: 26px;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #eee;
	border-bottom: 1px solid #e7e7e7;
}


#firstrun {
	position:relative;
	top:25%;
	left:20%;
	right:20%;
	width:50%;
	font-weight:bold;
	text-align:center;
	color:#777
}
#firstrun h1 {
	font-size:1.5em;
	text-align:center;
	margin-bottom:1em
}
#firstrun small {
	font-size:1.2em;
}